<%- include('partials/header') %>

<h2>Connexion</h2>
<form action="/login" method="POST">
  <label>Pseudo: <input type="text" name="username" required></label><br>
  <label>Mot de passe: <input type="password" name="password" required></label><br>
  <button type="submit">Se connecter</button>
</form>

<%- include('partials/footer') %>
